
 <%# <div class="container">
    <div class="jumbotron">
      <h1>welcome to enginectra</h1>
      <h2>sign in as a customer</h2>
<form>
  <div class="form-group">
    <label for="exampleformcontrolinput1">email address</label>
    <input type="email" class="form-control" id="custemail" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="exampleformcontroltextarea1">password</label>
    <textarea class="form-control" id="custpassword" rows="1"></textarea>
  </div>
   <button type="submit" class="btn btn-primary" href = "inspectionform">submit</button>
</form>
</div>
</div>   %>


<p>Sign In</p>
<%= form_with model: @customer  do |form| %>
  <p>
  <%= form.label 'Email:' %><br/> 
  <%= form.text_field :email, id: :email, id: :email, class: :email %>
  </p>
  <p>
  <%= form.label 'Password:' %><br/>
  <%= form.password_field :password, id: :password, class: :password %>
  </p>

  <p>
    <%= form.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
    <%= form.submit 'Clear Form', :type => 'reset' %>
  </p>
<% end %>







